<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p> BEST SELLERS</p>
            <h1>Recent Products</h1>
        </div>
        <div class="row">
            <!-- Product 1 -->
            <div class="col-md-6 col-lg-3 col-sm-12 ">
                <div class="card">
                    <div class="cart-main">
                        <div class="discount">-9%</div>
                        <div class="label label-green">Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (click)="changeImage1($event)"><img src="/assets/product11.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage1($event)"><img src="/assets/product12.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage1($event)"><img src="/assets/product13.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage1($event)"><img src="/assets/product14.jpg"
                                    alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url1}}" alt="image" />
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Gentle Cleanser</a>

                        <p><span class="money">$72.00</span><span class="old-price">$80.00</span></p>
                    </div>
                </div>
            </div>

            <!-- Product 2 -->
            <div class="col-md-6 col-lg-3 col-sm-12">
                <div class="card">
                    <div class="cart-main">
                        <div class="discount">-2%</div>
                        <div class="label label-green">Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (click)="changeImage2($event)"><img src="/assets/product21.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage2($event)"><img src="/assets/product22.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage2($event)"><img src="/assets/product23.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage2($event)"><img src="/assets/product24.jpg"
                                    alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url2}}" alt="image" />
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Purple Potion</a>
                        <p><span class="money">$88.00</span><span class="old-price">$90.00</span></p>
                    </div>
                </div>
            </div>

            <!-- Product 3 -->
            <div class="col-md-6 col-lg-3 col-sm-12">
                <div class="card">
                    <div class="cart-main">
                        <div class="discount">-3%</div>
                        <div class="label label-green">Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (click)="changeImage3($event)"><img src="/assets/product31.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage3($event)"><img src="/assets/product32.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage3($event)"><img src="/assets/product33.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage3($event)"><img src="/assets/product34.jpg"
                                    alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url3}}" alt="image" />
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Bakuchiol</a>
                        <p><span class="money">$88.00</span><span class="old-price">$90.00</span></p>
                    </div>
                </div>
            </div>


            <!-- Product 4 -->
            <div class="col-md-6 col-lg-3 col-sm-12">
                <div class="card">
                    <div class="cart-main">
                        <div class="discount">-5%</div>
                        <div class="label label-green">Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (click)="changeImage4($event)"><img src="/assets/product41.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage4($event)"><img src="/assets/product42.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage4($event)"><img src="/assets/product43.jpg"
                                    alt="Product"></div>
                            <div class="p" (click)="changeImage4($event)"><img src="/assets/product44.jpg"
                                    alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url4}}" alt="image" />
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Skin Proud</a>
                        <p><span class="money">$57.00</span><span class="old-price">$60.00</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>