<div class="all-animated-imges">
  <div class="animated-imges-header">
    <h5>
      Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Quisque sagittis purus sit amet
      volutpat consequat mauris. Etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum.
    </h5>
  </div>
  <div class="image-container">
    <div class="image-wrapper">
      <img src="/assets/product1.jpg" alt="Image 1" class="image pair1">
      <button class="image-button">Buy Now</button>
    </div>
    <div class="image-wrapper">
      <img src="/assets/product2.jpg" alt="Image 2" class="image pair2">
      <button class="image-button">Buy Now</button>
    </div>
    <div class="image-wrapper">
      <img src="/assets/product3.jpg" alt="Image 3" class="image pair1">
      <button class="image-button">Buy Now</button>
    </div>
    <div class="image-wrapper">
      <img src="/assets/product4.jpg" alt="Image 4" class="image pair2">
      <button class="image-button">Buy Now</button>
    </div>
    <div class="image-wrapper">
      <img src="/assets/product5.jpg" alt="Image 5" class="image pair1">
      <button class="image-button">Buy Now</button>
    </div>
    <button class="view-all-button" (click)="navigateToAllProducts()">View All</button>
  </div>
</div>
