<!-- Footer -->
<footer class="all-footer">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0 ">
                <img src="assets/Logo.png" alt="Logo" width="200" height="150">
                <p>
                    Share contact information, store details, and brand content with your customers.
                </p>
            </div>
            <div class="col-lg-5 col-md-6 mb-4 mt-10 mb-md-0 offset-1" style="padding-top: 50px;">
                <div class="row">
                    <div class="col-6">
                        <h6 class="text-uppercase">Customer Support</h6>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="Contact">Contact</a>
                            </li>
                            <li>
                                <a href="About">About Us</a>
                            </li>
                            <li>
                                <a href="https://wa.me/1149392811">Help</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h6 class="text-uppercase  our-service">Our Services</h6>
                        <ul class="list-unstyled">
                            <li>
                                <a href="FAQ">FAQ</a>
                            </li>
                            <li>
                                <a href="Search">Search</a>
                            </li>
                            <li>
                                <a href="Shop">Shop</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="padding-top: 50px;">
                <h6 class="text-uppercase mb-0">Address</h6>
                <p>No: 58 A, East Madison Street, Baltimore, MD, USA 4508</p>
                <p>VitalBeauty.com</p>
                <p> +000-123-456-789</p>
                <p> Monday - Saturday 8am - 4pm PT</p>
                <p> excluding holidays</p>
            </div>
        </div>
    </div>


    <!-- Copyright -->
    <div class="text-center p-3 copyright" style="background-color: #e7bbf3;color:#8d239e">
        © 2024 Copyright:
        <a  href="Home">VitalBeauty.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->