<div class="all-our-special-services body">
    <div class="services-header">
        <h1>Our Special Services</h1>
    </div>
    <div class="container-flex">
        <div class="row">
            <div class="services-image col-5">
                <img src="assets/our-special-services.jpg" />
            </div>
            <div class="services-text col-lg-7 col-sm-12">
                <div class="services-item row">
                    <div class="service-name col-8">
                        <a href="">
                            <h4>1. Express Manicure</h4>
                        </a>
                    </div>
                    <div class="service-price col-4">

                        <h4>Rs. 31.00</h4>

                    </div>
                </div>
                <hr class="service-line">

                <div class="services-item row">
                    <div class="service-name col-8">
                        <a href="">
                            <h4>2. The Classic Fasial Cure</h4>
                        </a>
                    </div>
                    <div class="service-price col-4">

                        <h4>Rs. 21.00</h4>

                    </div>
                </div>
                <hr class="service-line">

                <div class="services-item row">
                    <div class="service-name col-8">
                        <a href="">
                            <h4>3. The Signature Gel Manicure</h4>
                        </a>
                    </div>
                    <div class="service-price col-4">

                        <h4>Rs. 45.00</h4>

                    </div>
                </div>
                <hr class="service-line">

                <div class="services-item row">
                    <div class="service-name col-8">
                        <a href="">
                            <h4>4. Nail Extensions</h4>
                        </a>
                    </div>
                    <div class="service-price col-4">
                        <h4>Rs. 45.00</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>