<div class="our-story row">
    <div class="story-image col-4">
       <img src="assets/our-story-image.jpg">
    </div>
    <div class="story col-8">
        <div class="story-txt">
            <p>NEW IN COSMETICS</p>
            <h1>Our Story</h1>
            <p>Rhoncus Est Pellentesque Elit Ullamcorper Dignissim Cras. Aliquam Ultrices Sagittis Orci A.</p>
        </div>

        <!-- Story boxes -->
        <div class="story-box row">
            <div class="story-box-img col-2">
                <img src="assets/story-box1.png" style="width:100px;height: 100px;" />
            </div>
            <div class="story-box-txt col-10">
                <h3>Ever Pristine</h3>
                <p>Tincidunt Augue Interdum Velit Euismod In Pellentesque Massa.</p>
            </div>
        </div>

        <div class="story-box row">
            <div class="story-box-img col-2">
                <img src="assets/story-box2.png" style="width:100px;height: 100px;" />
            </div>
            <div class="story-box-txt col-10">
                <h3>Always Unique</h3>
                <p>Egestas Pretium Aenean Pharetra Magna Ac Placerat Vestibulum.</p>
            </div>
        </div>

        <div class="story-box row">
            <div class="story-box-img col-2">
                <img src="assets/story-box3.png" style="width:100px;height: 100px;" />
            </div>
            <div class="story-box-txt col-10">
                <h3>Eternal Novelty</h3>
                <p>Est Placerat In Egestas Erat Imperdiet. Orci Eu Lobortis Elementum.</p>
            </div>
        </div>
        <div class="founder">
            <h3>
                Our Founder
            </h3>
            <p>
                ITI 
            </p>
        </div>


    </div>
</div>