<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="assets/header1.jpg" class="d-block w-100" alt="slide1">
          <div class="carousel-caption d-none d-md-block">
              <h1>Revitalize Your Skin's Radiance Today!</h1>
              <button class="explore-button">Explore Now</button>
          </div>
      </div>
      <div class="carousel-item">
          <img src="assets/header2.jpg" class="d-block w-100" alt="slide2">
          <div class="carousel-caption d-none d-md-block">
              <p>UP TO 50% OFF</p>
              <h1>Discover Skincare VitalBeauty Now!</h1>
              <button class="explore-button">Explore Now</button>
          </div>
      </div>
      <div class="carousel-item">
          <img src="assets/header3.jpg" class="d-block w-100" alt="slide3">
          <div class="carousel-caption d-none d-md-block">
              <h1>Unlock Youthful Glow With Us!</h1>
              <button class="explore-button">Explore Now</button>
          </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
