<div class="slider-container">
    <div style="height:70px">

    </div>
    <div class="row">


        <div class="slider1 col-3" #slider>
            <div class="slider-item">Nail Extensions</div>
        </div>
        <div class="slider3 col-2" #slider>
            <div class="slider-item">Cosmetics</div>

        </div>
        <div class="slider4 col-2" #slider>
            <div class="slider-item">Nail Cure</div>

        </div>
        <div class="slider5 col-3" #slider>
            <div class="slider-item"> Nail Art Designs</div>

        </div>
        <div class="slider6 col-2" #slider>
            <div class="slider-item">Manicure </div>
        </div>
    </div>
</div>