.all-product-header {
  background: url("/assets/animated-images-bg.jpg");
}

.product-header {
  background-size: 900px 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.product-header h1 {
  color: #822890;
  font-size: 4rem;
  font-family: Arial, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  animation: moveUpDown 1.2s linear infinite;
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(-10%);

  }

  50% {
    transform: translateY(10%);
  }
}


.image-container {
  margin: 0 auto;
  padding: 20px;

}

.card {
  width: 18rem;
  height: 100%;
  box-shadow: 0px 0px 10px #CC76DA;
  ;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.card-body {
  padding: 1rem;
  justify-content: center;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #822890;
}

.card-text {
  font-size: 1rem;
}

.btn-primary {
  margin-top: 10px;
}


.details-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #CC76DA;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration-line: none;
}

.details-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.details-button:hover::before {
  transform: scaleX(1);
}

.details-button:hover {
  color: #CC76DA;
  background-color: #fff;
}

.ngx-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #822890;
}


.ngx-pagination .current {
  padding: .1875rem .625rem;
  background: #905858;
   
  color: #fefefe;
  cursor: default;
}